AWSIoTPythonSDK==1.4.9
boto3==1.21.23
botocore==1.24.23
cstruct==1.8
future==0.18.2
gcloud==0.17.0
googleapis-common-protos==1.56.0
httplib2==0.20.4
jfwEncoderDecoder==0.2.6
jmespath==0.10.0
jws==0.1.3
oauth2client==3.0.0
protobuf==3.20.0rc2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyclibrary==0.1.7
pycryptodome==3.4.3
pygeohash==1.2.0
pynamodb==5.1.0
pyparsing==2.4.7
Pyrebase==3.0.27
python-dateutil==2.8.2
python-jwt==2.0.1
requests==2.11.1
requests-toolbelt==0.7.0
rsa==4.8
s3transfer==0.5.2
six==1.16.0
typing-extensions==3.10.0.2
urllib3==1.26.7
numpy==1.22.3